<<<<<<< HEAD
<div class="results-container">

    <div class="restaurant-title clearfix">
        <h1><%= chosen.name %></h1>
        <img src=" <%= chosen.rating_img_url_large %>">
    </div>

<% for (var i = 0; i < chosen.categories.length; i++) { %>
  <% if (i === 0){ %>
    <span><%= chosen.categories[i][0] %></span>
  <% } else {%>
    <span>,<%= chosen.categories[i][0] %></span>
    <% } %>
<% } %>


    <div class="restaurant-image-container" style="background-image: url(<%= chosen.image_url.replace('ms.jpg', 'o.jpg') %>)"></div>

    <p>phone-number: <%=chosen.display_phone %></p>
    <p><a href="<%= chosen.url %>">See Restaurant on Yelp</a></p>


    <p><%= chosen.location["display_address"].toString() %></p>
    <!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw&q=<%= chosen.name %>,<%= chosen.location["city"]%>+<%= chosen.location["state_code"]%>" -->

    <div class="restaurant-buttons">
        <button id="shake-again">Try again</button>
        <a href="/"><button id="back">Back</button></a>
        <button id="save">GOING!</button>
    </div>

    <iframe
      width="100%"
      height="450"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?origin=<%=cll%>&destination=<%=chosen.location["coordinate"]["latitude"]%>,<%=chosen.location["coordinate"]["longitude"]%>&key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw"
      allowfullscreen>
    </iframe><br>
    <!--div id="result"><%=JSON.stringify(chosen) %></div-->
</div>

=======
<h1><%= chosen.name %></h1><br>
<!-- make an img tag to hold the restaurant picture-->
<img id="restaurant-image" src="">
<p><%= chosen.location["display_address"].toString() %></p>
<span>Category: </span>
  <!-- do a for loop to grab only the first element from every array -->
  <% for (var i = 0; i < chosen.categories.length; i++) { %>
    <% if (i === 0){ %>
      <span><%= chosen.categories[i][0] %></span>
    <% } else {%>
      <span>,<%= chosen.categories[i][0] %></span>
    <% } %>
  <% } %>
<p><a href="<%= chosen.url %>">See Restaurant on Yelp</a></p>
<p>phone-number: <%=chosen.display_phone %></p>
<p>rating: <%= chosen.rating%> </p>
<img src="<%= chosen.rating_img_url_large %>"><br>
<!-- Make an iframe to hold the embedded map-->
<iframe src="https://www.google.com/maps/embed/v1/directions?origin=<%=cll%>&destination=<%=chosen.location["coordinate"]["latitude"]%>,<%=chosen.location["coordinate"]["longitude"]%>&key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw"
 allowfullscreen>
</iframe><br>
<!-- Make the result accessible to javascript-->
<div id="result" style="display: none"><%=JSON.stringify(chosen) %></div>
<button id="shake-again">Try again</button>
<a href="/"><button id="back">Back</button></a>
<!-- If session found, allow user to save the result then redirect them to the profile page -->
  <% if (user) {%>
  <a href="/profile"><button id="save">GOING</button></a>
  <% } %>
>>>>>>> db42721bdd875a9794617451b4ad3bf113ce8f99

<script>
  // reload the page for new result
  $('#shake-again').on('click',function(evt){
    location.reload()
  })
<<<<<<< HEAD
}
else {
  console.log('Signup&LogIn')
}


 })




=======

  var favorite = JSON.parse($('#result').text())
  var address = favorite.location.display_address[0] + ", " + favorite.location.display_address[1]
  // if session exists, store the user's id into userId
  if ($('#user').text().length !== 0) {
    var userId = JSON.parse($('#user').text())._id
  }
  else {
    var favoriteId = favorite.id
    $('#guest-proceed').attr('href','/session?favoriteId='+favoriteId)
  }

  // get the image_url of the result and replace ms.jpg with o.jpg to get a larger image
  var imageURL = favorite.image_url.replace('ms.jpg', 'o.jpg')
  $('#restaurant-image').attr('src', imageURL)

  $('#save').on('click', function() {
    // if a user is logged in, then  make a POST request to favorites/:user_id
      $.ajax({
        url: '/favorites/'+userId, // make a post request to create a favorite and attache it to the current user
        method: 'POST',
        contentType: 'application/json',
        // pass the information to be saved into the new Favorite object
        data: JSON.stringify({"name": favorite.name, "rating": favorite.rating, url: favorite.url , display_phone: favorite.display_phone, address: address, categories: favorite.categories, image_url: favorite.image_url, rating_img_url_large: favorite.rating_img_url_large, _owner: userId, id: favorite.id}),
        success: function(data) {
          console.log('COOL!')
        }
      })
    // else {
    //   $.ajax({
    //     url: '/favorites', // make a post request to create a favorite
    //     method: 'POST',
    //     contentType: 'application/json',
    //     // pass the information to be saved into the new Favorite object
    //     data: JSON.stringify({"name": favorite.name, "rating": favorite.rating, url: favorite.url , display_phone: favorite.display_phone, address: address, categories: favorite.categories, image_url: favorite.image_url, rating_img_url_large: favorite.rating_img_url_large, id: favorite.id}),
    //     success: function(data) {
    //       console.log('COOL!')
    //     }
    //   })
    // }
  })
>>>>>>> db42721bdd875a9794617451b4ad3bf113ce8f99
</script>
