

<h1><%= chosen.name %></h1><br>
<img id="restaurantImage" src chosen.image_url %>">
<p><%= chosen.location["display_address"].toString() %></p>
<span>Category: </span>
<% for (var i = 0; i < chosen.categories.length; i++) { %>
  <% if (i === 0){ %>
    <span><%= chosen.categories[i][0] %></span>
  <% } else {%>
    <span>,<%= chosen.categories[i][0] %></span>
    <% } %>
<% } %>
<p><a href="<%= chosen.url %>">See Restaurant on Yelp</a></p>
<p>phone-numbe: <%=chosen.display_phone %></p>
<p>rating: <%= chosen.rating%> </p>
<img src=" <%= chosen.rating_img_url_large %>"><br>
  <!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw&q=<%= chosen.name %>,<%= chosen.location["city"]%>+<%= chosen.location["state_code"]%>" -->
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"

    src="https://www.google.com/maps/embed/v1/directions?origin=<%=cll%>&destination=<%=chosen.location["coordinate"]["latitude"]%>,<%=chosen.location["coordinate"]["longitude"]%>&key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw"
   allowfullscreen>
</iframe><br>
<div id="result"><%=JSON.stringify(chosen) %></div>

<button id="shake-again">Try again</button>
<a href="/"><button id="back">Back</button></a>
<button id="save">GOING!</button>


<script>
$('#shake-again').on('click',function(evt){
  location.reload()
})


var favorite = JSON.parse($('#result').text())
var address = favorite.location.display_address[0] + ", " + favorite.location.display_address[1]

// get the image_url and replace ms.jpg with o.jpg
var imageURL = favorite.image_url.replace('ms.jpg', 'o.jpg')
$('#restaurantImage').attr('src', imageURL)


$('#save').on('click', function() {

  $.ajax({
    url: '/favorites',
    method: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({"name": favorite.name, "rating": favorite.rating, url: favorite.url , display_phone: favorite.display_phone, address: address, categories: favorite.categories, image_url: favorite.image_url, rating_img_url_large: favorite.rating_img_url_large }),
    success: function(data) {
      console.log('COOL!')
    }
  })

 })




</script>
