<h1><%= favorite.name %></h1><br>
<!-- make an img tag to hold the restaurant picture-->
<img id="restaurant-image" src="">
<p><%= favorite.address %></p>
<span>Category: </span>
  <!-- do a for loop to grab only the first element from every array -->
  <% for (var i = 0; i < favorite.categories.length; i++) { %>
    <% if (i === 0){ %>
      <span><%= favorite.categories[i][0] %></span>
    <% } else {%>
      <span>,<%= favorite.categories[i][0] %></span>
    <% } %>
  <% } %>
<p><a href="<%= favorite.url %>">See Restaurant on Yelp</a></p>
<p>phone-number: <%=favorite.display_phone %></p>
<p>rating: <%= favorite.rating%> </p>
<img src="<%= favorite.rating_img_url_large %>"><br>
<!-- Make an iframe to hold the embedded map-->
<iframe src="https://www.google.com/maps/embed/v1/directions?origin=<%=cll%>&destination=<%=favorite.location["coordinate"]["latitude"]%>,<%=favorite.location["coordinate"]["longitude"]%>&key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw"
 allowfullscreen>
</iframe><br>
